<div id="card" [ngStyle]="{'--type-color': TYPE_COLOR[data.type_1].color}">
  <div class="card_header">
    <span class="card_header--number">
      # {{data.number | number:'3.0-0'}}
    </span>
    <p class="card_header--hp">
      <span>HP</span>
      {{data.hp}}
    </p>
  </div>

  <picture
    class="card_img"
    [ngStyle]="{'--image--': 'url(https://monikode.github.io/pokedex/assets/pokemon/' + data.number + '.png)'}"
  ></picture>
  <h2 class="card_name">{{data.name}}</h2>
  <div class="card_types">
    <div class="card_type" [style.background]="TYPE_COLOR[data.type_1].color">
      <img
        [src]="TYPE_COLOR[data.type_1].icon"
        [alt]="TYPE_COLOR[data.type_1].name"
      />
      <span>{{TYPE_COLOR[data.type_1].name}}</span>
    </div>
    <ng-container *ngIf="data.type_2">
      <div class="card_type" [style.background]="TYPE_COLOR[data.type_2].color">
        <img
          [src]="TYPE_COLOR[data.type_2].icon"
          [alt]="TYPE_COLOR[data.type_2].name"
        />
        <span>{{TYPE_COLOR[data.type_2].name}}</span>
      </div>
    </ng-container>
  </div>
  <div class="card_stats">
    <div>
      <h3>{{data.attack}}</h3>
      <p>Attack</p>
    </div>
    <div>
      <h3>{{data.defense}}</h3>
      <p>Defense</p>
    </div>
    <div>
      <h3>{{data.speed}}</h3>
      <p>Speed</p>
    </div>
  </div>
</div>
