<div id="app">
  <div id="search">
    <img
      class="search__icon"
      alt="Search icon"
      src="../../../assets/icons/search.svg"
      width="22"
      height="22"
    />
    <input
      type="text"
      placeholder="Find a Pokémon..."
      class="search__input"
      [(ngModel)]="paramsCard.name"
    />
    <button class="search__button" (click)="onSearch()">Search</button>
  </div>
  <div class="filter__types">
    <div
      class="filter__type"
      *ngFor="let type of typesRecords"
      [ngStyle]="{'--type-color': type.color}"
      [class.type--active]="type.id === paramsCard.type"
      (click)="onChooseType( type.id )"
    >
      <img [src]="type.icon" [alt]="type.name" [title]="type.name" />
      <span>{{type.name}}</span>
    </div>
  </div>
  <div class="app__inner">
    <div id="filter">
      <div class="filter_inner">
        <h2 class="filter__name">Sort Pokemon</h2>
        <div class="filter__content">
          <details>
            <summary class="radios">
              <ng-container *ngFor="let sortType of sortTypesRecord">
                <input
                  type="radio"
                  id="{{ sortType.id }}"
                  title="{{ sortType.title }}"
                  [(ngModel)]="sortOrder"
                  [value]="sortType.value"
                />
              </ng-container>
            </summary>
            <ul class="list">
              <ng-container *ngFor="let sortType of sortTypesRecord">
                <li>
                  <label
                    for="{{ sortType.id }}"
                    (click)="onSelectSortOrder(sortType.value)"
                  >
                    {{ sortType.title }}
                  </label>
                </li>
              </ng-container>
            </ul>
          </details>

          <details>
            <summary class="radios">
              <ng-container *ngFor="let sortWith of sortWithRecord">
                <input
                  type="radio"
                  id="{{ sortWith.id }}"
                  title="{{ sortWith.title }}"
                  [(ngModel)]="sortValue"
                  [value]="sortWith.value"
                />
              </ng-container>
            </summary>
            <ul class="list">
              <ng-container *ngFor="let sortWith of sortWithRecord">
                <li>
                  <label
                    for="{{ sortWith.id }}"
                    (click)="onSelectSortValue(sortWith.value)"
                  >
                    {{ sortWith.title }}
                  </label>
                </li>
              </ng-container>
            </ul>
          </details>
        </div>

        <hr class="filter_line" />
        <h2 class="filter__name">Total</h2>
        <div class="filter__wrapper">
          <div class="filter__inputs">
            <input
              type="number"
              placeholder="180..."
              [(ngModel)]="paramsCard.min_total"
            />
            <span></span>
            <input
              type="number"
              placeholder="770..."
              [(ngModel)]="paramsCard.max_total"
            />
          </div>
          <button type="button" class="filter__button" (click)="onSubmit()">
            Áp dụng
          </button>
        </div>

        <hr class="filter_line" />
        <h2 class="filter__name">Hp</h2>
        <div class="filter__wrapper">
          <div class="filter__inputs">
            <input
              type="number"
              placeholder="1..."
              [(ngModel)]="paramsCard.min_hp"
            />
            <span></span>
            <input
              type="number"
              placeholder="255..."
              [(ngModel)]="paramsCard.max_hp"
            />
          </div>
          <button type="button" class="filter__button" (click)="onSubmit()">
            Áp dụng
          </button>
        </div>

        <hr class="filter_line" />
        <h2 class="filter__name">Speed</h2>
        <div class="filter__wrapper">
          <div class="filter__inputs">
            <input
              type="number"
              placeholder="..."
              [(ngModel)]="paramsCard.min_speed"
            />
            <span></span>
            <input
              type="number"
              placeholder="..."
              [(ngModel)]="paramsCard.max_speed"
            />
          </div>
          <button type="button" class="filter__button" (click)="onSubmit()">
            Áp dụng
          </button>
        </div>

        <hr class="filter_line" />
        <h2 class="filter__name">Attack</h2>
        <div class="filter__wrapper">
          <div class="filter__inputs">
            <input
              type="number"
              placeholder="..."
              [(ngModel)]="paramsCard.min_attack"
            />
            <span></span>
            <input
              type="number"
              placeholder="..."
              [(ngModel)]="paramsCard.max_attack"
            />
          </div>
          <button type="button" class="filter__button" (click)="onSubmit()">
            Áp dụng
          </button>
        </div>

        <hr class="filter_line" />
        <h2 class="filter__name">Special Attack</h2>
        <div class="filter__wrapper">
          <div class="filter__inputs">
            <input
              type="number"
              placeholder="..."
              [(ngModel)]="paramsCard.min_sp_atk"
            />
            <span></span>
            <input
              type="number"
              placeholder="..."
              [(ngModel)]="paramsCard.max_sp_atk"
            />
          </div>
          <button type="button" class="filter__button" (click)="onSubmit()">
            Áp dụng
          </button>
        </div>

        <hr class="filter_line" />
        <h2 class="filter__name">Defense</h2>
        <div class="filter__wrapper">
          <div class="filter__inputs">
            <input
              type="number"
              placeholder="..."
              [(ngModel)]="paramsCard.min_defense"
            />
            <span></span>
            <input
              type="number"
              placeholder="..."
              [(ngModel)]="paramsCard.max_defense"
            />
          </div>
          <button type="button" class="filter__button" (click)="onSubmit()">
            Áp dụng
          </button>
        </div>

        <hr class="filter_line" />
        <h2 class="filter__name">Special Defense</h2>
        <div class="filter__wrapper">
          <div class="filter__inputs">
            <input
              type="number"
              placeholder="..."
              [(ngModel)]="paramsCard.min_sp_def"
            />
            <span></span>
            <input
              type="number"
              placeholder="..."
              [(ngModel)]="paramsCard.max_sp_def"
            />
          </div>
          <button type="button" class="filter__button" (click)="onSubmit()">
            Áp dụng
          </button>
        </div>
      </div>
    </div>

    <div id="container">
      <list-card [records]="records" [isLoad]="isLoading"></list-card>
      <ng-container *ngIf="records.length > 0 && !isLoading">
        <pagination
          (pageChange)="onPageChange( $event)"
          [currentPage]="paramsCard.page"
        ></pagination>
      </ng-container>
    </div>
  </div>
</div>
