<loader [isLoad]="isLoad"></loader>
<main *ngIf="!isLoad" class="cards">
  <ng-container *ngIf="records.length >0">
    <ng-container *ngFor="let item of records">
      <div id="card">
        <div class="card_inner">
          <div
            class="card card_front"
            [ngStyle]="{'--type-color': typeRecords[item.type_1].color}"
          >
            <div class="card_header">
              <span class="card_header--number">
                # {{item.number | number:'3.0-0'}}
              </span>
              <p class="card_header--hp">
                <span>HP</span>
                {{item.hp}}
              </p>
            </div>

            <picture
              class="card_img"
              [ngStyle]="{'--image--': 'url(https://monikode.github.io/pokedex/assets/pokemon/' + item.number + '.png)'}"
            ></picture>
            <h2 class="card_name">{{item.name}}</h2>
            <div class="card_types">
              <div
                class="card_type"
                [style.background]="typeRecords[item.type_1].color"
              >
                <img
                  [src]="typeRecords[item.type_1].icon"
                  [alt]="typeRecords[item.type_1].name"
                  [title]="typeRecords[item.type_1].name"
                />
                <span>{{typeRecords[item.type_1].name}}</span>
              </div>
              <ng-container *ngIf="item.type_2">
                <div
                  class="card_type"
                  [style.background]="typeRecords[item.type_2].color"
                >
                  <img
                    [src]="typeRecords[item.type_2].icon"
                    [alt]="typeRecords[item.type_2].name"
                    [title]="typeRecords[item.type_2].name"
                  />
                  <span>{{typeRecords[item.type_2].name}}</span>
                </div>
              </ng-container>
            </div>
            <div class="card_stats">
              <div>
                <h3>{{item.attack}}</h3>
                <p>Attack</p>
              </div>
              <div>
                <h3>{{item.defense}}</h3>
                <p>Defense</p>
              </div>
              <div>
                <h3>{{item.speed}}</h3>
                <p>Speed</p>
              </div>
            </div>
          </div>
          <div class="card_back"></div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</main>
