#card {
  position: relative;
  width: 100%;
  border-radius: 15px;
  padding: 16px 12px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  background: radial-gradient(
    circle at 50% 0%,
    var(--type-color) 36%,
    #ffffff 36%
  );
}

#card .card_img {
  display: block;
  position: relative;

  width: 120px;
  height: 120px;
  margin: 0px auto;
  background: transparent var(--image--) no-repeat center/contain;
}

#card .card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#card .card_header .card_header--number {
  text-align: center;
  font-size: 19px;
  color: #fff;
  letter-spacing: 0.4px;
  font-weight: 500;
}

#card .card_header .card_header--hp {
  text-align: center;
  width: 64px;
  background-color: #fff;
  padding: 6px 0;
  border-radius: 20px;
  font-weight: 400;
}
#card .card_header .card_header--hp span {
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 600;
}
#card .card_name {
  text-align: center;
  padding-top: 4px;
  font-size: 19px;
  font-weight: 600;
}
#card .card_types {
  display: flex;
  justify-content: space-around;
  margin: 16px 0 32px 0;
}

#card .card_types .card_type {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 16px;
  padding: 5px 12px;
  gap: 4px;
  letter-spacing: 0.4px;
}
#card .card_types .card_type img {
  width: 13px;
  height: 13px;
}
#card .card_types .card_type span {
  font-size: 12px;
  font-weight: 600;

  color: #fff;
  cursor: pointer;
}
#card .card_types .card_type:hover {
  opacity: 0.6;
  transition: 0.3s;
}
#card .card_stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#card .card_stats p {
  margin-top: 2px;
  color: #404060;
}
