#filter {
  padding-top: 20px;
  width: 100%;
  flex: 1;
}
#filter .filter_inner{
  width: 280px;
}
#filter .filter__name {
  color: #899da8;
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 15px;
}
#filter .filter_line {
  border: 0;
  margin: 7px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

#filter .filter__wrapper {
  margin-bottom: 0.625rem;
  font-weight: 500;
  padding: 5px 10px 15px;
}
#filter .filter__inputs {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  justify-content: space-between;
  align-items: center;
}
#filter .filter__inputs span {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  flex: 1 1 0%;
  height: 1px;
  background: #bdbdbd;
}
#filter .filter__inputs input {
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  width: 40%;
  font-size: 13px;
  line-height: 1rem;
  height: 1.8rem;
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
}
#filter .filter__button {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border-style: 1px solid transparent;
  width: 100%;
  font-weight: 400;
  text-transform: capitalize;
  text-overflow: ellipsis;
  margin-top: 12px;
  height: 27px;
  font-size: 14px;
  cursor: pointer;
  background: rgb(0, 67, 104);
  color: #fff;
}
#filter .filter__button:hover {
  opacity: 0.7;
  transition: 0.5;
  cursor: pointer;
}
