#pagination {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  padding: 4px;
  bottom: 40px;
  width: 100%;
  gap: 5px;
  font-weight: 500;
  border-radius: 50px;
}
#pagination .pagination__item {
  height: 42px;
  color: #fff;
  border: 1px solid #fff;
  background: rgb(0, 67, 104);
  max-height: 45px;
  width: 42px;
  border-radius: 10px;
  border: unset;
}
#pagination .pagination__item--active {
  border: 1px solid rgb(0, 67, 104);
  color: rgb(0, 67, 104);
  background: #fff;
}
#pagination button:disabled:hover {
  opacity: 0.5;
  cursor: none;
  background-color: unset;
}
